<module id="link" name="Link">
   <version>
      <minimum>1.3</minimum>
      <created>1.3</created>
      <content>flat</content>
   </version>
   <dependencies>
      <resourcePath>/</resourcePath>
      <required id="form">?Because.</required>
      <recommended id="edit">For editing</recommended>
   </dependencies>
   <description>Link Resource Type</description>
   <usage>
   </usage>
</module>