a {color: #3360AA; text-decoration:none; background-color: transparent;}
a:hover {color: #FF3333; background-color: transparent;}
a:visited{color: #6688AA; background-color: transparent;} 
a:visited:hover {color: #FF3333; background-color: transparent;} 

img {border:0px}


#navTopBG    { height: 21px; background-image: 
               url('/lenya/lenya/menu/images/menu-bg.gif'); 
               background-repeat: repeat-x; padding-top: 1px }
#navBlue     { height: 6px; background-image: 
               url('/lenya/lenya/menu/images/unten.gif'); 
               background-repeat: repeat-x; padding-top: 1px }
#menuSearch, #menuHelp, #menuFile, #menuDebug  {position:absolute; display:block; visibility:hidden; width:100px; top:55px;}
	#menuFile {left:14px;}
	#menuSearch {left:117px;}
	#menuHelp {left:220px;}
	#menuDebug {left:323px;}


.menuOutline {border:1px #999999 solid; border-bottom:2px #999999 solid; background:#EEEEEE; color: black;}
.menuBg      { background-color: #EEEEEE; background-repeat: repeat; background-attachment: 
               scroll; background-image: 
               url('/lenya/lenya/menu/images/bottombg.gif'); 
               border: 1px solid #FFFFFF; background-position: 0%; color: black;}
.mI, .mI:visited {
display:block; 
padding:4px;
font:11px verdana, arial, sans-serif; 
color:#444444; 
padding-top:2px; 
padding-bottom:2px; 
background-color: transparent;}
	.mI:hover {background:#FFFFFF; color: black;}

span.mI { color: #AAAAAA; background-color: transparent;}

.click {cursor:pointer}
        .alenya {
            color: #0066FF;
            text-decoration: none;
background-color: transparent;        }

        .alenya:visited {
            color: #0066FF;
        text-decoration: none;
        background-color: transparent;
        }



