<module id="nav" name="Navigation" minimum="1.3" created="1.3" content="flat">
<index id="live" structure="live">
   <filter property="type">xml|xhtml|link</filter>
</index>
<description>Handles navigation framework for flat storage using SitetreeGenerator.</description>
<usage>
See README.txt for example code.

This Module strips irrelevant information, so:
module://nav/menu/live/myPath/myDoc_xx.html
BECOMES:
menu/live/myPath/myDoc

It tries to pass this to a file named nav.xmap in a Module named {navigation-element}.
If that does not exist, it generates the index.  
It then tries to transform using a file named nav.xsl in a Module named {navigation-element}.
If that does not exist, it transforms using a file named {navigation-element}.xsl from this Module.

The results are specific to the Navigation Element.  Later XSL would usually add a prefix to anchor tags.
</usage>
</module>