<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://apache.org/lenya/module/1.0">
  <id>org.apache.lenya.modules.navigation</id>
  <export package="org.apache.lenya.modules.navigation"/>
  <depends module="org.apache.lenya.modules.linking"/>
  <package>org.apache.lenya.modules</package>
  <version>0.1-dev</version>
  <name>navigation</name>
  <lenya-version>@lenya.version@</lenya-version>
  <description>
    This module contains Java classes and resources to generate navigation widgets.
  </description>
</module>