# Properties controlling the build process


#------------------------------------------------------------------------------------
# The original, unmodified and expanded cocoon webapp directory

cocoon.webapp.dir=../cocoon-2.1/build/webapp


#------------------------------------------------------------------------------------
# Root directories where publications are located

pubs.root.dirs=src/webapp/lenya/pubs
#pubs.root.dirs=src/webapp/lenya/pubs:../anotherproject/pubs


#------------------------------------------------------------------------------------
# Where the 'install' build target should put the webapp context
# Warning: This has to be an absolute path! FIXME: cocoon.xconf needs absolute path (scr/targets/init-build.xml)

install.dir=/usr/local/tomcat/webapps/lenya
#install.dir=C:/build/tomcat/webapps/lenya


#------------------------------------------------------------------------------------
# The server cache directory to be cleaned by the 'reset' target
# Either use an absolute path or a relative one based on the current directory

cache.dir=/usr/local/tomcat/work/Standalone/localhost/lenya
#cache.dir=C:/build/tomcat/work/Standalone/localhost/lenya

#------------------------------------------------------------------------------------
# Files and directories which should be excluded during 'install' and 'reset'
# Comma- or space-separated list of patterns
# All files are included when commented

#target.install.excludes=**/default/**/authoring/**,**/default/**/live/**
#target.reset.excludes=**/default/**/authoring/**,**/default/**/live/**


#------------------------------------------------------------------------------------
# HSQL-DB server port (default is 9002)

#hsqldb-server.port=19002


#------------------------------------------------------------------------------------
# Enable multipart requests (default is false)

#enable.uploads=true


#------------------------------------------------------------------------------------
# Enable RollingFileAppender of log4j (default is false)

#enable.log4j=true

#------------------------------------------------------------------------------------
# Anteater home directory

#anteater.home=/usr/local/anteater
