# Properties controlling the build process


#------------------------------------------------------------------------------------
# The original, unmodified and expanded cocoon webapp directory

cocoon.webapp.dir=../cocoon-2.1.2/build/webapp


#------------------------------------------------------------------------------------
# Root directories where publications are located

pubs.root.dirs=src/webapp/lenya/pubs
#pubs.root.dirs=src/webapp/lenya/pubs:../anotherproject/pubs:/home/user/my-pub


#------------------------------------------------------------------------------------
# Where the 'install' build target should put the webapp context
# WARNING: This has to be an absolute path! (FIXME: cocoon.xconf needs absolute path (scr/targets/init-build.xml))
# NOTE: Do not use white spaces within the path

tomcat.home.dir=/usr/local/tomcat
#tomcat.home.dir=C:/build/tomcat


#------------------------------------------------------------------------------------
# Where the 'install' build target should put the webapp context
# NOTE: This path is relative to tomcat.home.dir

tomcat.webapps.dir=webapps/lenya


#------------------------------------------------------------------------------------
# The server cache directory to be cleaned by the 'reset' target
# NOTE: This path is relative to tomcat.home.dir

tomcat.cache.dir=work/Standalone/localhost/lenya


#------------------------------------------------------------------------------------
# Where the 'install' build target should copy the endorsed libraries
# NOTE: This path is relative to tomcat.home.dir

tomcat.endorsed.dir=common/endorsed


#------------------------------------------------------------------------------------
# Files and directories which should be excluded during 'install' and 'reset'
# Comma- or space-separated list of patterns
# All files are included when commented

#target.install.excludes=**/oscom/**/authoring/**,**/oscom/**/live/**
#target.reset.excludes=**/oscom/**/authoring/**,**/oscom/**/live/**


#------------------------------------------------------------------------------------
# HSQL-DB server port (default is 9002)
# NOTE: This parameter is useful if you want to run several lenya instances on the same server

#hsqldb-server.port=19002


#------------------------------------------------------------------------------------
# Enable multipart requests (for security reasons turned off resp. set to false)

#enable.uploads=true


#------------------------------------------------------------------------------------
# Enable RollingFileAppender of log4j

#enable.log4j=true


#------------------------------------------------------------------------------------
# Anteater and Webtest home directories

#anteater.home=/usr/local/anteater
#webtest.home = /usr/local/canoo-webtest
