# Properties controlling the build process

# Root directories where publications are located

pubs.root.dirs=src/webapp/lenya/pubs:/home/lenya/src/lenya-pubs

# The original, unmodified and expanded cocoon webapp directory
src.cocoon.dir=../xml-cocoon2/build/cocoon/webapp

# Where the 'install' build target should put the webapp context
# Either use an absolute path or a relative one based on the current directory

install.dir=/usr/local/tomcat/webapps/lenya

# The server cache directory to be cleaned by the 'reset' target
# Either use an absolute path or a relative one based on the current directory

cache.dir=/usr/local/tomcat/work/Standalone/localhost/lenya

# Files and directories which should be excluded during 'install' and 'reset'
# Comma- or space-separated list of patterns
# All files are included when commented

#target.install.excludes=**/oscom/**/authoring/**,**/oscom/**/live/**
#target.reset.excludes=**/oscom/**/authoring/**,**/oscom/**/live/**
