<module id="xml" name="XML">
   <version>
      <minimum>1.2</minimum>
      <created>1.3</created>
   </version>
   <dependencies>
      <resourcePath>/</resourcePath>
      <required id="form">Because.</required>
   </dependencies>
   <description>XML Resource Type</description>
   <usage>
   </usage>
</module>