/* 
    Document   : antlog
    Created on : 13. Mai 2003, 18:48
    Author     : andreas
    Description:
        Purpose of the stylesheet follows.
*/

    .lenya-ant-bannercell {
      border: 0px;
      padding: 0px;
    }
    
    table.lenya-ant-status {
      font:bold 80% arial,helvetica,sanserif;
      background-color:#525D76;
      color:#ffffff;
    }
    
    table.lenya-ant-log tr td, tr th {
      font-size: 80%;
    }
    .lenya-ant-error {
      color:red;
    }
    .lenya-ant-warn {
      color:brown;
    }
    .lenya-ant-info {
      color:gray;
    }
    .lenya-ant-debug{
      color:gray;
    }
    .lenya-ant-failed {
      font-size:80%;
      background-color: red;
      color:#FFFFFF;
      font-weight: bold
    }
    .lenya-ant-complete {
      font-size:80%;
      background-color: #525D76;
      color:#FFFFFF;
      font-weight: bold
    }
    
    .lenya-ant-a td { 
      background: #efefef;
    }
    
    .lenya-ant-b td { 
      background: #fff;
    }
    
