div.lenya-box {
	border: solid 1px #CCCCCC;
	width: auto;
	max-width: 100%;
	font-size: small;
	margin-bottom: 10px;
}

div.lenya-box-title {
    background-color: #DDDCCF;
	border-bottom: solid 1px #CCCCCC;
	color: Black;
	font-weight: bold;
	padding: 3px 10px;
}

div.lenya-box-body {
    padding: 10px;
    background-color: #F5F4E9;
	color: Black;
}