
form {
	margin: 0px;
	padding: 0px;
}

td.lenya-entry-caption {
	text-align: right;
	color: #606060;
	background-color: transparent;
}

.lenya-form-element {
    width: 300px;
    font-family: Verdana, sans-serif;
}

.lenya-form-element-narrow {
    width: 150px;
    font-family: Verdana, sans-serif;
}

.lenya-form-message-error {
    font-weight: bold;
    color: red;
	background-color: transparent;
}

.lenya-form-message-success {
    font-weight: bold;
    color: navy;
	background-color: transparent;
}

textarea {
    font-size: small;
}