/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

body { background-color: #fff; margin: 0; padding: 0; }

#lenya-menus { position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 57px; background: url(/lenya/menu/images/menu-background.gif) 0 0 repeat-x; }

#lenya-logo { position: absolute; z-index: 3; width: 90px; height: 25px; top: 31px; left: 100%; margin-left: -90px; }

#lenya-cmsbody { position: absolute; width: 100%; top: 57px; left: 0px; z-index: 1; }

#lenya-areas { float: left; height: 25px; margin: 5px 0 0 10px; }

#lenya-info { float: right; height: 20px; margin: 9px 10px 0 0; font-size: 11px; font-family: Arial, "Lucida Grande", Verdana, Helvetica, sans-serif; line-height: 1; }

#lenya-options { padding: 9px 0 0 27px; clear: both; height: 31px; font-size: 11px; font-family: Arial, "Lucida Grande", Verdana, Helvetica, sans-serif; line-height: 1; }

#lenya-options ul { list-style: none; margin: 0; padding: 0; }

#lenya-options ul li { float: left; width: 85px; }

#lenya-options ul li, #lenya-options ul li a { display: block; color: #333; font-size: 12px; text-decoration: none; font-weight: bold; cursor: pointer; }

#lenya-options ul li ul { position: absolute; display: block; width: 12em; top: 56px; border: 1px solid #c6c6c5; background: #f1f1f1; padding: 7px; visibility: hidden; }

#lenya-options ul li ul#menu1 { left: 20px; }

#lenya-options ul li ul#menu2 { left: 105px; }

#lenya-options ul li ul#menu3 { left: 190px; }

#lenya-options ul li ul#menu4 { left: 275px; }

#lenya-options ul li ul#menu5 { left: 360px; }

#lenya-options ul li ul#menu6 { left: 445px; }

#lenya-options ul li ul li { width: 12em; }

#lenya-options ul li ul li.lenya-menu-separator { border-bottom: 1px dotted #c6c5c5; margin: 4px 0; font-size: 1px; height: 2px; width: 95%; }

#lenya-options ul li ul li { padding: 0; }

#lenya-options ul li ul li.disabled { font-size: 11px; font-weight: normal; color: #999; cursor: default; }
#lenya-options li.disabled a { color: #999; cursor: default; }
  
#lenya-options ul li.disabled { cursor: default; color: #999; }

#lenya-options ul li ul li a {
  font-size: 11px; font-weight: normal; padding: 2px 0 2px 2px; margin-left: 11px;
}
#lenya-options ul li ul li a img { border: none; vertical-align: top; }

#lenya-options ul li ul li a:hover { background: #fff; }

#info-messages a {  color: #fff; }

#info-messages a:visited {  color: #fff; }

#lenya-areas ul { margin: 0; padding: 0; }

#lenya-areas ul li { list-style: none; float: left; display: block; margin: 0 1px 0 0; }

#lenya-areas ul li a { color: #454646; display: block; text-decoration: none; text-align: center; padding: 9px 9px 0 9px; height: 16px !important; height /**/: 25px; display: inline-block; }

#lenya-areas ul li a span { font: bold 10px/1.0 Arial, Verdana, sans-serif; text-transform: uppercase; vertical-align: top; }

#lenya-areas ul li.area-active a { color: #3975b3; background: url(/lenya/menu/images/active.gif) 0 0 repeat-x; }

#lenya-areas ul li.area-inactive a { background: url(/lenya/menu/images/inactive.gif) 0 0 repeat-x; }

#lenya-areas ul li.area-inactive a:hover { background-position: 0 -25px; }

#lenya-info ul { margin: 0; padding: 0; }

#lenya-info ul li { list-style: none; display: block; float: left; font-size: 11px; color: #fff; padding: 0 5px; border-right: 1px solid #fff; }

#lenya-info ul li#info-time { border: 0; }

#page { width: 100%; height: 100%; }

#lenyaMenuPlaceholder {
    background: url('/modules/menubar/images/indicator.gif') 20px 20px no-repeat;
    border-bottom: 1px solid #c6c6c5;
    height: 57px;
}
