<?xml version="1.0" encoding="UTF-8"?>

<css>

#lenya-menubar {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#lenya-cmsbody {
	position: absolute;
	top: 55px;
	left: 0px;
	z-index: 1;
}

table.lenya-menubar-menu a { color: #3360AA; text-decoration:none; background-color: transparent; }
table.lenya-menubar-menu a:hover { color: #FF3333; background-color: transparent; }
table.lenya-menubar-menu a:visited { color: #6688AA; background-color: transparent; } 
table.lenya-menubar-menu a:visited:hover { color: #FF3333; background-color: transparent; } 

table.lenya-menubar-menu img {border:0px}

#navTopBG {
	font-family: verdana, helvetica, sans-serif;
	height: 22px;
  background-image: url('<context-prefix/>/lenya/menu/images/menu-bg_2.gif');
	background-repeat: repeat-x;
	font-size: 10pt;
	color: #333333;
}

#navBlue {
	height: 6px;
	background-image: url('<context-prefix/>/lenya/menu/images/unten.gif');
  background-repeat: repeat-x;
  padding-top: 1px
}
               
#menuSearch, #menuHelp, #menuFile, #menuDebug  {
	position:absolute;
	display:block;
	visibility:hidden;
	width:170px;
	top:54px;
	overflow: hidden;
}

.lenya-menubar-menu-disabled {
    color: #AAAAAA;
}

#menuFile {left:14px;}
#menuSearch {left:114px;}
#menuHelp {left:214px;}
#menuDebug {left:314px;}


.menuOutline {
	border: 1px solid #666666;
	border-top: 0px;
	padding: 2px;
	background-color: #EEEEEE;
}

.menuBg {

/*	width: 150; */
	padding: 2px;
	background-color: #EEEEEE;
	background-repeat: repeat;
	background-attachment: scroll;
	
/*	border: 1px solid #FFFFFF; */

  background-image: url('<contextprefix/>/lenya/menu/images/bottombg.gif');
	background-position: 0%;
	color: black;
}

.menuBg .mI, .menuBg .mI:visited {
	display:block;
	padding: 2px 4px;
	font:11px verdana, arial, sans-serif; 
	color:#444444; 
	background-color: transparent;
}

.lenya-menubar-separator {
	height: 1px;
	margin: 3px 0px;
	background-color: #EEEEEE;
	background-repeat: repeat;
	background-attachment: scroll;
	background-image: url('<context-prefix/>/lenya/menu/images/dotted.gif');
	background-position: 0% 50%;
}

.lenya-menubar-infoline {
	margin-right: 10px;
	color: #FFFFFF;
	font-size: x-small;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
}

.menuBg a.mI:hover {
	background:#FFFFFF;
	color: black;
}

.menuBg span.mI {
	color: #AAAAAA;
	background-color: transparent;
}

.click {
	cursor:pointer
}

.menuBg a {
	color: #0066FF;
	text-decoration: none;
	background-color: transparent;
}

.menuBg a:visited {
	color: #0066FF;
	text-decoration: none;
	background-color: transparent;
}

#page {
	width:100%;
	height:100%;
}

</css>