
table.lenya-table {
	color: Black;
	background-color: White;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.lenya-table-noborder {
	border: 0px;
	border-spacing: 0px;
}

table.lenya-table th {
    background-color: #DDDCCF;
	border: solid 1px #CCCCCC;
	color: Black;
	font-weight: bold;
	padding: 3px 10px;
	text-align: left;
	font-size: small;
}

table.lenya-table td {
    background-color: #F5F4E9;
	border: solid 1px #CCCCCC;
	padding: 3px 10px;
	font-size: small;
	color: Black;
}

table.lenya-table-noborder td {
	border: 0px;
	padding: 3px 10px;
	font-size: small;
}

table.lenya-table-noborder-nopadding td {
	border: 0px;
	padding: 0px;
	font-size: small;
}

table.lenya-table-noborder-nopadding th {
	font-size: small;
}

