/* Styles for tabs in Site / Meta Area */

.lenya-tab {
	font-family: verdana, sans-serif;
	font-size: small;
	background-color: #F5F4E9; 
	padding: 20px;
	color: black;
	border: solid 1px #CCCCCC;

	position: relative;
	top: 1px;	
}

.lenya-tablink {
	color: #666666;
	font-size: 10pt;
	display: inline; /*mandatory*/
	margin-right: .5em;
	padding: 0px 1em;
	
	position: relative;
	top: 1px;
	
	text-decoration: none;
	
	background-color: #DDDCCF; 
	border: solid 1px #CCCCCC;
}

.lenya-tablink-active {
	color: black;
	font-size: 10pt;
	display: inline; /*mandatory*/
	margin-right: .5em;
	padding: 0px 1em;

	position: relative;
	top: 1px;
	
	text-decoration: none;
	
	background-color: #F5F4E9; 
	border: solid 1px #CCCCCC;
	border-bottom: solid 1px #F5F4E9;
	z-index: 1;
}

#lenya-info-body {
	padding: 20px;
}

#lenya-info-treecanvas {
	font-size: 8pt;
}
	
#lenya-info-tree {
	padding: 10px;
	background-color: #F5F4E9; 
	border: solid 1px #CCCCCC;
    font-family: verdana,helvetica, sans-serif; 
    text-decoration: none;
    color: black;	

	position: relative;
	top: 1px;

}

#lenya-info-tree td {
    font-family: verdana, helvetica, sans-serif; 
}
   
#lenya-info-treecanvas a { font-size: small; color: black; color: #666666; text-decoration: none; }
#lenya-info-treecanvas a:hover { text-decoration: underline; }

#lenya-info-content {
	float: left;
	margin: 0px 20px;
	font-size: small;
}
