/* Styles for tabs in Site / Meta Area */

.lenya-tab {
	width: auto;
	font-family: verdana, sans-serif;
	font-size: small;
	background-color: #F5F4E9; 
	padding: 20px;
	color: black;
	border: solid 1px #CCCCCC;
	position: relative;
	top: 1px;
}

.lenya-tablink {
	color: #666666;
	font-size: small;
	display: inline; /*mandatory*/
	margin-right: .5em;
	padding: 0px 1em;
	position: relative;
	top: 1px;
	
	text-decoration: none;
	
	background-color: #DDDCCF; 
	border: solid 1px #CCCCCC;
}

.lenya-tablink-active {
	color: black;
	font-size: small;
	display: inline; /*mandatory*/
	margin-right: .5em;
	padding: 0px 1em;
	position: relative;
	top: 1px;
	
	text-decoration: none;
	
	background-color: #F5F4E9; 
	border: solid 1px #CCCCCC;
	border-bottom: solid 1px #F5F4E9;
	z-index: 1;
}
