/*body         { font-size: 12px; font-family: Verdana, Arial, Helvetica; background-color: #f5f5f5 }*/
body         { font-size: 12px; font-family: Verdana, Arial, Helvetica; background-color: #ffffff }
.art-text   { font-size: 12px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.art-pretitle { font-size: 12px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.tsr-title   { font-weight: bold; font-size: 11px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, "Nu Sans Regular"; text-transform: uppercase }
.tsr-text { font-size: 11px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, "Nu Sans Regular" }
.art-date  { font-size: 10px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, "Nu Sans Regular"; text-align: right }
.art-author      { font-style: italic; font-size: 12px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular; text-align: right }
.art-title1      { font-weight: bold; font-size: 18px; line-height: 20px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.art-title2    { color: #669; font-weight: bold; font-size: 14px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.art-title3  { font-weight: bold; font-size: 12px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.art-lead    { font-weight: bold; font-size: 12px; line-height: 16px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.art-link  { font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular; text-decoration: underline }
.art-question    { color: #669; font-weight: bold; font-size: 12px; line-height: 16px; font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.img-text   { font-size: 10px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.img-author   { font-style: italic; font-size: 10px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.rel-title    { font-weight: bold; font-size: 10px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.rel-text    { font-size: 10px; font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular }
.dos-title1 { color: #fff; font-weight: bold; font-size: 18px; line-height: 20px; font-family: Verdana, Helvetica, Arial }
.emphasize  { font-style: italic; font-family: Verdana, Geneva, Helvetica, Arial, Swiss, SunSans-Regular }
.strong  { font-weight: bold; font-family: Verdana, Geneva, Helvetica, Arial, Swiss, SunSans-Regular }
