
a:link { color: #339; text-decoration: none }
a:visited { color: #339; text-decoration: none }
/*body { font-family: Geneva, Helvetica, Arial, Swiss, "Nu Sans Regular"; background-color: #f5f5f5 }*/
body { font-family: Geneva, Helvetica, Arial, Swiss, "Nu Sans Regular"; background-color: #ffffff }
a:hover { color: #66c }
h3  { color: #333 }
