/* Midas CSS */

.imagebutton {height: 22; width: 23; border: solid 2px #C0C0C0; background-color: #C0C0C0}

.image {position: relative; left: 1; top: 1; height:20; width:21; border:none;}

.toolbar {height: 30; background-color: #C0C0C0;}
