body {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica;
	background-color: #ffffff;
}

abstract {
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	font-family: Verdana, Helvetica, Arial, Swiss, SunSans-Regular ;
}


media-caption, .img-text {
	font-size: 10px;
	font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular ;
}

title, .rel-title {
	margin: 0 0 1em 0.7em;
	font-weight: bold;
	font-size: 10px;
font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular 
}

item, .rel-text {
	font-size: 10px;
font-family: Geneva, Verdana, Helvetica, Arial, Swiss, SunSans-Regular 
}

item {
	margin: 1.33em 0 1.33em 0.7em;
	display: block;
}

p {
	display: block;
}


media, related-content,  tagline, dossier, hl1, abstract, byline {
	display: block;
	margin: 0em 0;
}

title {
	display: block;
}

a, ulink, email {
	text-decoration: underline;
	color: #339;
}

orderedlist, itemizedlist, sidenote, main, titel, div, para,section {
	display: block;
}

emphasis, emphasize {
	font-style: italic;
}


