/* Put your doctype-specific CSS here */

.column1of2 {
        position: relative;
        width: 48%;
        float: left;
}

.column2of2 {
        position: relative;
        float: left;
        width: 48%;
        margin-left: 12px;
}