/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

form {
	margin: 0px;
	padding: 0px;
}

td.lenya-entry-caption {
	text-align: right;
	color: #606060;
	background-color: transparent;
}

td.lenya-entry-caption h2{
	text-align: center;
    font-size: medium;
}

.lenya-form-element {
    width: 300px;
    font-family: Verdana, sans-serif;
}

.lenya-form-element-narrow {
    width: 150px;
    font-family: Verdana, sans-serif;
}

.lenya-form-element-verynarrow {
    width: 100px;
    font-family: Verdana, sans-serif;
}

.lenya-form-message-error {
    font-weight: bold;
    color: red;
	background-color: transparent;
}

.lenya-form-message-success {
    font-weight: bold;
    color: navy;
	background-color: transparent;
}

textarea {
    font-size: small;
}