/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

@import url(listContainer.css);

.lenyaInfoBox {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #DDDCCF;
  margin: .5em 0;
  padding: .5em .7em;
}

.lenyaInfoBox h3 {
  font-size: small;
  margin: 0 0 .2em 0;
}

.lenyaButton {
  cursor: pointer;
  background: url('/modules/gui/images/button-background.gif') left top repeat-x;
  border: solid 1px #AAAAAA;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
  color: #333333;
  padding: .2em .6em;
  font-family: Arial;
  font-weight: bold;
  font-size: 90%;
}

a.lenyaButton {
  text-decoration: none;
}

a.lenyaButton:hover {
  background: url('/modules/gui/images/button-background-hover.gif') left top repeat-x;
  color: #222222;
  border: solid 1px #999999;
}

a img {
  border: none;
}

ul.lenyaMessages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.lenyaMessages li {
  padding-left: 20px;
}

li.lenyaErrorMessage {
  background: url('/modules/gui/icons/sweetie/base/16-circle-red-remove.png') left 1px no-repeat;
}

li.lenyaInfoMessage {
  background: url('/modules/gui/icons/sweetie/base/16-message-info.png') left 1px no-repeat;
}
