@import url(listContainer.css);

.lenyaButton {
  cursor: pointer;
  background: url('/modules/gui/images/button-background.gif') left top repeat-x;
  border: solid 1px #AAAAAA;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
  color: #333333;
  padding: .2em .6em;
  font-family: Arial;
  font-weight: bold;
  font-size: 90%;
}

a.lenyaButton {
  text-decoration: none;
}

a.lenyaButton:hover {
  background: url('/modules/gui/images/button-background-hover.gif') left top repeat-x;
  color: #222222;
  border: solid 1px #999999;
}

a img {
  border: none;
}