.lenyaListContainer {
  height: 300px;
  width: 600px;
  overflow: auto;
  background-color: #FFFFFF;
  border: solid 1px #CCCCCC;
}

.lenyaListContainer table {
  font-size: small;
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}

.lenyaListContainer table img {
  vertical-align: middle;
}

.lenyaListContainer table th {
  font-weight: bold;
  color: #666666;
  background-color: #DDDCCF;
}

.lenyaListContainer tr {
}

.lenyaListContainer th, .lenyaListContainer td {
  padding: 0 .5em;
  text-align: left;
}

.lenyaListContainer a {
  text-decoration: none;
}

