<?xml version="1.0"?>
<config>
	<options>
		<option name="BX_defaultReturnElement">'p'</option>
		<option name="BX_doSections">1</option>
		<option name="BX_root_dir">'./bxe/'</option>
		<option name="BX_debugMessage">0</option>
		<option name="BX_xsl_params">0</option>
		<option name="BX_para_element">'p'</option>
		<option name="BX_mixedCaseAttributes">1</option>
		<option name="BX_backurl" isParam="true">url-back</option>
	</options>
	<files>
		<input>
			<file name="BX_xmlfile" method="http" isParam="true">url-xml</file>
			<!--
			<file name="BX_xmlfile" method="http">xml/article.xml</file>
-->
			<file name="BX_xslfile" isParam="true">url-xslt</file>
			<!--
			<file name="BX_xslfile">xml/article.xsl</file>
-->
			<file name="BX_schemafile" isParam="true">url-xsd</file>
			<!--
			<file name="BX_schemafile">./schema/editor.xsd</file>
-->
		</input>
		<css>
			<!-- document specific css -->
			<file isParam="true">url-css</file>
			<!--
			<file>./css/style.css</file>
-->
			<!-- system wide css -->
			<file>./bxe/css/editor.css</file>
		</css>
		<output>
			<!-- looks like not implemented -->
			<!--
			<file name="BX_posturl" method="wyona" >http://cvs.wyona.org:8080/lenya/unipublic/xopus/XopusInterface</file>
-->
			<file name="BX_posturl" method="wyona" isParam="true">url-post</file>
		</output>
		<scripts>
			<file>./bxe/js/bitfluxeditor_table.js</file>
			<file>./bxe/js/bitfluxeditor_sc.js</file>
			<file>./bxe/js/bitfluxcms.js</file>
			<file>./bxe/js/td/http.js</file>
			<file>./bxe/js/td/wyona.js</file>
		</scripts>
		<transform>
			<includes>
				<file name="BX_xmltransformfile">/lenya/computerworld/bitflux/stylesheets/bitflux-include.xsl</file>
				<file name="BX_xmltransformbackfile">/lenya/computerworld/bitflux/stylesheets/bitflux-back-include.xsl</file>

			</includes>
			<parameters>
				<param name="BX_xmltransformfile" xsltParamName="url-back" isParam="true">url-back</param>
			</parameters>
			<!-- the following shouldn't have to be changed -->
			<file name="BX_xmltransformfile">./bxe/xml/transformxml.xsl</file>
			<file name="BX_xsltransformfile">./bxe/xml/transformxsl.xsl</file>
			<file name="BX_xmltransformbackfile">./bxe/xml/transformxmlback.xsl</file>
			<file name="BX_xslViewSourceFile">./bxe/xml/viewsource.xml</file>
		</transform>
	</files>
	<buttons>
		<row>
			<cell colspan="2">
				<button type="graph" width="4" name="anfang"/>
				<button type="register" tag="s1" name="ebene_1" width="20" height="30" title="Section 1" options="optNonclickable"/>
				<button type="register" tag="s2" name="ebene_2" width="20" height="30" title="Section 2" options="optNonclickable"/>
				<button type="register" tag="s3" name="ebene_3" width="20" height="30" title="Section 3" options="optNonclickable"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" tag="hl2" name="title" width="41" height="30" title="Title" options="optSplitNode"/>
				<button type="register" tag="para" name="para" width="20" height="30" title="Paragraph" options="optSplitNode"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" tag="Make Plain" name="plain" width="19" height="30" title="Plain" options="optCallback" callback="BX_plain()"/>
				<button type="register" tag="emphasize" name="italic" width="19" height="30" title="Italic"/>
				<button type="register" tag="bold" name="bold" width="19" height="30" title="Bold"/>
				<button type="register" tag="subscript" name="sub" width="19" height="30" title="Subscript"/>
				<button type="register" tag="superscript" name="super" width="19" height="30" title="Superscript"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" tag="itemizedlist" name="list" width="29" height="30" title="Unordered List"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" name="tab" width="33" height="30" title="Table" options="optCallback" callback="BX_table_insert()"/>
				<button type="register" name="add_cell" width="33" height="30" title="Add Row/ Column" options="optCallback" callback="BX_table_insert_row_or_col()"/>
				<button type="register" name="delete_cell" width="33" height="30" title="Delete Row/Column" options="optInactive"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" name="euro" width="23" height="30" title="Special Characters" options="optCallback" callback="BX_sc_popup()"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" name="picture" width="30" height="30" title="Insert Image(s)" options="optNonclickable"/>
				<button type="register" tag="note" name="file" width="30" height="30" title="Insert File" options="54" callback="BX_add_tag('note',BX_range.startContainer.getAttribute('id'))"/>
				<button type="register" name="import_text" width="30" height="30" title="Insert Text (Clipboard)" options="optCallback" callback="BX_clipboard_open()"/>
				<button type="graph" width="4" name="trennelement"/>
				<button type="register" tag="ulink" name="link" width="36" height="30" title="Insert Link" options="36" callback="BX_popup_link()"/>
				<button type="graph" width="3" name="ende"/>
			</cell>
			<cell align="right">
				<button type="link" text="get xml" href="javascript:alertXML();"/>
				<button type="link" text="Transform" href="javascript:BX_transform();"/>
			</cell>
		</row>
		<row>
			<cell>
			</cell>
			<cell align="right">
				<button type="register" name="undo" width="23" height="27" title="Undo" options="optCallback" callback="BX_undo_undo()"/>
				<button type="register" name="redo" width="23" height="27" title="Redo" options="optCallback" callback="BX_undo_redo()"/>
				<button type="graph" width="4" name="trennelement_unten"/>
				<button type="register" name="save_exit" width="77" height="30" title="Save + Exit" options="optCallback" callback="BX_submit(1)"/>
				<button type="register" name="save" width="46" height="30" title="Save" options="optCallback" callback="BX_submit()"/>
				<!--				 <button type="register" name="save" width="46" height="30" title="Save" 
options="optNonclickable" callback="BX_submit()" /> -->
				<button type="register" name="reset" width="48" height="30" title="Reset" options="optCallback" callback="BX_reset()"/>
			</cell>
		</row>
	</buttons>
</config>
