<module id="live" name="Live" minimum="1.2" created="1.3" content="all">
   <required id="navigation">Creates nevigation elements</required>
   <required id="xhtml">For documents</required>  
   <recommended id="cache">Use file cache for anonymous.</recommended>
   <optional id="homepage">Redirects index* if available.</optional>
   <description>Main entry point as in Lenya 1.2.</description>
   <usage>
   </usage>
</module>