body                    { margin:0px; padding:4px; overflow:hidden; border:none; background-color:menu; }
div                     { font-family:Verdana; }
*                       { -moz-box-sizing:border-box; }
*[unselectable='on']    { -moz-user-select:none; -moz-user-focus:ignore; }
*[disabled='true']      { -moz-user-input:disabled; -moz-user-select:none; -moz-user-focus:ignore; }


#tabrow td              { padding:4px 4px 0px 6px; }
.tab, .tabselected      { position:relative; display:inline; padding:0px 3px 2px 3px; cursor:pointer; cursor:hand; border-style:solid; border-width:1px 1px 0px 1px; border-color:#FFFFFF #808080 #FFFFFF #FFFFFF; }
.tab                    { font-size:90%;  top:0px; height:22px; }
.tabselected            { font-size:100%; top:1px; height:25px; }
#authoring              { background-color:lime; color:black; }
#admin                  { background-color:blue; color:white; }
#live                   { background-color:red;  color:white; }


body.authoring #menurow td div,
body.admin     #menurow td div { display:block; }
body.live      #menurow td div { display:none; }
#menubar                       { padding:2px 4px 2px 4px; }

#menurow    td,
#contentrow td          { padding:4px 4px 4px 4px; border-style:solid; border-width:0px 1px 0px 1px; border-color:#FFFFFF #808080 #808080 #FFFFFF; }
#tabrow     td          { border-bottom:solid 1px #FFFFFF; }
#contentrow td          { border-bottom:solid 1px #808080; height:100%; }

body.authoring #menurow   ,
body.authoring #contentrow  { background-color:lime; }
body.admin     #menurow   ,
body.admin     #contentrow  { background-color:blue; }
body.live      #menurow   ,
body.live      #contentrow  { background-color:red; }


#mask                   { position:absolute; z-index:1; width:100%; height:100%; display:none; }
#page                   { width:100%; height:100%; }

.template               { display:none; }


#menurow                { }
#menubar                { z-index:20; width:100%; height:22px; margin:4px 0px 0px 0px; background-image:url(/lenya/lenya/menu2/media/menubg.gif); }
.menubuttoncontainer    { float:left; display:none; }
.menubutton,
.menubuttonover         { float:left; padding:0px 0px 0px 4px; width:100px; font-size:80%; font-weight:bold; cursor:pointer; cursor:hand; }
.menubutton             { background-image:none; }
.menubuttonover         { background-image:url(/lenya/lenya/menu2/media/menubgover.gif); }

.menu, .menuvisible     { position:absolute; z-index:20; float:left; background-image:url(/lenya/lenya/menu2/media/menuitembg.gif); }
.menu                   { display:none; border:none; }
.menuvisible            { display:block; width:150px; border:solid 1px black; }
.menuitem, .menuitemover{ padding:0px 3px 2px 3px; font-family:verdana; font-size:80%; cursor:pointer; cursor:hand; }
.menuitem               { color:black; background-color:none; }
.menuitemover           { color:red; background-color:white; }

