BODY {font:x-small 'Verdana'; margin-right:1.5em; color: blue}
<!-- container for expanding/collapsing content -->
  .c  {cursor:hand}
  #c  {cursor:hand}
<!-- button - contains +/-/nbsp -->
  .b  {color:red; font-family:'Courier New'; font-weight:bold; text-decoration:none; cursor: hand}
  #b  {color:red; font-family:'Courier New'; font-weight:bold; text-decoration:none; cursor: hand}
<!-- element container -->
  .e  {margin-left:2em; text-indent:-2em; margin-right:2em; cursor: hand}
  #e  {margin-left:2em; text-indent:-2em; margin-right:2em; cursor: hand}
<!-- comment or cdata -->
  .k  {margin-left:2em; text-indent:-2em; margin-right:2em}
  #k  {margin-left:2em; text-indent:-2em; margin-right:2em}
<!-- tag -->
  .t  {color:#990000}
  #t  {color:#990000}
<!-- tag in xsl namespace -->
  .xt {color:#990099}
  #xt {color:#990099}
<!-- attribute in xml or xmlns namespace -->
  .ns {color:red}
  #ns {color:red}
<!-- markup characters -->
  .m  {color:blue}
  #m  {color:blue}
<!-- text node -->
  .tx {font-weight:bold}
  #tx {font-weight:bold}
<!-- multi-line (block) cdata -->
  .db {text-indent:0px; margin-left:5em; margin-top:0px; margin-bottom:0px;
       padding-left:.3em; border-left:1px solid #CCCCCC; font:small Courier}
  #db {text-indent:0px; margin-left:5em; margin-top:0px; margin-bottom:0px;
       padding-left:.3em; border-left:1px solid #CCCCCC; font:small Courier}
<!-- single-line (inline) cdata -->
  .di {font:small Courier}
  #di {font:small Courier}
<!-- DOCTYPE declaration -->
  .d  {color:blue}
  #d  {color:blue}
<!-- pi -->
  .pi {color:blue}
  #pi {color:blue}
<!-- multi-line (block) comment -->
  .cb {text-indent:0px; margin-left:5em; margin-top:0px; margin-bottom:0px;
       padding-left:.3em; font:small Courier; color:#888888}
  #cb {text-indent:0px; margin-left:5em; margin-top:0px; margin-bottom:0px;
       padding-left:.3em; font:small Courier; color:#888888}
<!-- single-line (inline) comment -->
  .ci {font:small Courier; color:#888888}
  #ci {font:small Courier; color:#888888}
  PRE {margin:0px; display:inline}

div{ display: block;}