<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: publication.xml 374687 2006-02-03 15:24:55Z michi $ -->

<lenya:module xmlns:lenya="http://apache.org/lenya/module/1.0">
  <lenya:id>org.apache.lenya.modules.resource</lenya:id>
  <lenya:export package="org.apache.lenya.cms.publication"/>
  <lenya:export package="org.apache.lenya.cms.site.usecases"/>
  <lenya:depends module="org.apache.lenya.modules.usecase"/>
  <lenya:depends module="org.apache.lenya.modules.sitemanagement"/>
  <lenya:depends module="org.apache.lenya.modules.workflow"/>
  <lenya:package>org.apache.lenya.modules</lenya:package>
  <lenya:version>0.1-dev</lenya:version>
  <lenya:name>Resource Module</lenya:name>
  <lenya:lenya-version>@lenya.version@</lenya:lenya-version>
  <lenya:description>A module to manage arbitrary resources (PDF, GIF, ...)</lenya:description>
</lenya:module>
