/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

div.newsDate {
  font-size: small;
  font-weight: normal;
  float: right
}


div#news {
  font-family: Verdana, Arial, Sans-serif;
  clear: both;
  float: right;
  width: 250px;
  border: solid 1px #BB9999;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  background-color: #FFEEEE;
}

div#news h1 {
  font-size: medium;
  margin: 0;
  padding: 0;
}

div#news h2 {
  font-size: small;
  margin-top: 10px;
  border-bottom: none;
  margin-bottom: 0;
}

div#news p {
  margin-top: 0.3em;
}

div#news div.newsDate {
  float: none;
}

div.rsslink {
  float: right;
  font-size: x-small;
  border-top: solid 1px #FFFFFF;
  border-left: solid 1px #FFFFFF;
  border-bottom: solid 1px #666666;
  border-right: solid 1px #666666;
  background-color: #DDBBBB;
  color: #000000;
  padding: 1px 3px 1px 3px;
}

div.rsslink a {
  text-decoration: none;
}