<module id="form" name="Form" minimum="1.2" created="1.3">
<description>Handles forms.</description>
<usage>
See README.txt for example code.
=== post.xsp
Creates XML from POST data.

=== formfixer.xsl
Adds the language to the ACTION for i18n-compatible URLs with CForms.

=== forms-samples-styling.xsl
From the Cocoon "form" block.
Adds formatting to a form

=== XMAP Usage of formfixer.xsl and forms-sampling.xsl
</usage>
</module>