<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!-- $Id: generic.xsp 155806 2005-03-01 17:55:42Z andreas $ -->

<menu xmlns:i18n="http://apache.org/cocoon/i18n/2.1"    
  xmlns:uc="http://apache.org/cocoon/lenya/usecase/1.0"
  xmlns="http://apache.org/cocoon/lenya/menubar/1.0">
  
  <menus>
    <menu i18n:attr="name" name="File">
      <block areas="authoring site">
        <item uc:usecase="sitemanagement.createLanguage" href="?"><i18n:text>New Language Version</i18n:text></item>
        <item uc:usecase="sitemanagement.deleteLanguage"><i18n:text>Remove Language Version</i18n:text></item>
      </block>
      <block areas="authoring">
        <item uc:usecase="sitemanagement.forceCheckIn"><i18n:text>force-checkin</i18n:text></item>
      </block>
      <block areas="authoring site admin">
        <item uc:usecase="admin.changePassword"><i18n:text>Change Password</i18n:text></item>
        <item uc:usecase="ac.logout"><i18n:text>Logout</i18n:text></item>
      </block>
    </menu>
    
    <menu i18n:attr="name" name="Edit">
      <block areas="authoring">
        <item uc:usecase="tab.meta"><i18n:text>Edit Metadata</i18n:text></item>
        <item uc:usecase="sitemanagement.changeLabel"><i18n:text>Edit Navigation Title</i18n:text></item>
      </block>
    </menu>
    
    <menu i18n:attr="name" name="Workflow">
      <block areas="authoring site">
        <item uc:usecase="workflow.submit"><i18n:text>workflow.submit</i18n:text></item>
        <item uc:usecase="workflow.reject"><i18n:text>workflow.reject</i18n:text></item>
        <item uc:usecase="workflow.publish"><i18n:text>workflow.publish</i18n:text></item>
        <item uc:usecase="workflow.deactivate"><i18n:text>workflow.deactivate</i18n:text></item>
      </block>
      <block areas="authoring site">
        <item uc:usecase="workflow.multiWorkflow"><i18n:text>workflow.multiWorkflow</i18n:text></item>
      </block>
    </menu>
    
    <menu i18n:attr="name" name="Help">
      <block areas="authoring site admin">
        <item uc:usecase="admin.aboutLenya"><i18n:text>About Apache Lenya</i18n:text></item>
        <item href="http://lenya.apache.org"><i18n:text>Apache Lenya Homepage</i18n:text></item>
        <item href="http://lenya.apache.org/docs/index.html"><i18n:text>Documentation</i18n:text></item>
        <item href="http://wiki.apache.org/lenya/"><i18n:text>Wiki</i18n:text></item>
      </block>
    </menu>
    
    <menu i18n:attr="name" name="Development">
    </menu>
  </menus>
  
</menu>
