.tagBelow, a:link:not([class]) {
	font-size : 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: black;
}

.usual {
	font-size : 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: black;
	text-align : left;
}


.popup {
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
	margin-right:1px;
	margin-bottom:1px;
	border:1px solid  #555555;
	background-color: #cccccc;
    padding: 0px 0px 3px 0px;
	
	/* opacity is nice, but eats a lot of cpu-resources
	-moz-opacity: 1;
	*/

}

.popupTitle {

	background-color: #999999; 
	color: #000000;
    padding: 1px 0px 1px 0px;
	font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 


}
.popupline {  
	font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    text-decoration: none; 
    color: #000000;
	display: block;
	padding-right: 5px;
	padding-top: 1px;
}

a:hover.popupline {
	background: #555555;
	color: #FFFFFF;
	text-decoration: none;
}
div:hover.popupline {
	background: #555555;
	color: #FFFFFF;
	text-decoration: none;
}

#BX_cursor {
	color: #009900;
    text-decoration: blink;
    font-weight: normal;
}

#transformlocation
{
	position: absolute;
	top:65px; 
	left: 0px; 
	z-index: 1;
}

#BX_buttonbar {
	height: 65px; 
	position: fixed; 
	background-color: #b4b4b4; 
	z-index: 2; 
}

#BX_infobar {
	visibility: hidden; 
	top: 400px; 
	height: 45px; 
	width: 500px; 
	position: fixed; 
	background-color: #b4b4b4; 
	z-index: 5; 
}

[name="bitfluxspan"] { 
min-height: 20px; min-width: 20px; 
	padding-right: 10px; 
	border-width: thin; 
	border-style: dotted; 
	border-color: #CCCCCC; 
}

span[name="bitfluxspan"] { padding-right: 10px; }


[bxe_hasfocus="true"] { 
	border-color: #000000; 
	border-width: thin; 
	border-style: dotted;
}

.clipboardtext {
    COLOR: #000000;
    FONT-FAMILY: arial, helvetica, geneva, sans-serif;
    FONT-SIZE: 12px;   
    FONT-WEIGHT: normal;
}

.buttonklein {

  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;    
	margin-top: 5px;
}

a:visited:not([class]) {
	font-size : 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #003366;
}
a:active:not([class]) {
	font-size : 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #CC66FF;
}

*[bxe_mark="true"]
{
	background: #aaaaaa;
}

body {
margin: 0px;
}
